body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}
form {
    margin-top: 12px;
}
#chat-messages li {
    padding: 12px;
}
.form-chat, .chat-messages {
    width: 700px;
    margin: 0 auto;
}
.button-post {
    margin-top: 15px;
    text-align: center;
}
.control {
    margin-top: 15px;
}